/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  overflow: hidden;
}

/* ================= SCREENS ================= */
.screen {
  position: fixed;
  inset: 0;
  background: #111;
  display: none;
  z-index: 10;
}

.screen.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameScreen {
  background: #000;
  z-index: 1;
}

/* ================= START SCREEN ================= */
#startScreen h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

.level-btn {
  width: 200px;
  padding: 12px;
  margin: 8px 0;
  background: #222;
  border: 2px solid #555;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}

/* ================= GAME CONTAINER ================= */
#game {
  width: 320px;
  height: 520px;
  margin: auto;
  position: relative;
  overflow: hidden;
  background: #555; /* matches road edge */
}

/* ================= ROAD ================= */
.road {
  position: absolute;
  width: 100%;
  height: 540px; /* taller than game */
  background: url("images/road.png") ;
    background-repeat:repeat-y;
  background-size: cover;
  top: 0;
  left: 0;
  will-change: transform;
}

/* ================= CAR ================= */
#car {
  position: absolute;
  width: 50px;
  height: auto;
  bottom: 20px;
  left: 135px;
  z-index: 5;
}

/* ================= NPC TRAFFIC ================= */
.traffic {
  position: absolute;
  width: 50px;
  height: auto;
  z-index: 4;
}

/* ================= HUD ================= */
#hud {
  width: 320px;
  margin: 6px auto;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

#status {
  text-align: center;
  margin-top: 8px;
  font-size: 18px;
}

#replay {
  margin-top: 10px;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 8px;
  background: #222;
  color: white;
  border: 2px solid #555;
}

/* ================= LEVEL COMPLETE TEXT ================= */
#levelText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  color: yellow;
  text-shadow: 0 0 10px black;
  z-index: 20;
  display: none;
}

/* ================= CONTROLS ================= */
#controls {
  width: 320px;
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
}

.control-btn {
  width: 140px;
  height: 60px;
  font-size: 28px;
  background: #222;
  border: 2px solid #555;
  border-radius: 14px;
  color: white;
  touch-action: none;
}

.control-btn:active {
  background: #444;
}
